/* ARROWS */
.first-screen__arrow {
    position: absolute;
    left: calc(50% - 10px);
    bottom: 20px;
    width: 20px;
    height: 20px;
}

.first-screen__arrow:before {
    content: '';
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-left: 3px solid #fff;
    border-bottom: 3px solid #fff;
    transform: translate(26px, 106px) rotate(-45deg);
    animation: arrow-down 2s linear infinite;
}

.first-screen__arrow:after {
    content: '';
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-left: 3px solid #fff;
    border-bottom: 3px solid #fff;
    transform: translate(53px, 0px) rotate(-45deg);
    animation: arrow-down 2s linear infinite;
}

.work-box__box__body__arrow {
    position: relative;
}

.work-box__box__body__arrow:before,
.work-box__box__body__arrow:after
{
    content: '';
    position: absolute;
    top: calc(50% - 7px);
    left: calc(50% - 15px);
    width: 15px;
    height: 15px;
    border-left: 3px solid #aaa;
    border-bottom: 3px solid #aaa;
    transform: rotate(225deg);
}

/* PROMO IMAGES */
.promo-screens {
    background-image: url("../images/promo/screen-set.png");
}

/* SKILL LINE */
.skill-box__skill-line {
    position: absolute;
    top: 222px;
    left: calc(50% - 4px);
    width: 8px;
    height: 1065px;
    background-color: #eaeaea;
    border-radius: 4px;
}

.skill {
    position: absolute;
    left: calc(50% - 24px);
    width: 48px;
    height: 48px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.skill-html {
    top: 20px;
    background-image: url("../images/decor/skill-html.png");
}

.skill-css {
    top: 94px;
    background-image: url("../images/decor/skill-css.png");
}

.skill-wp {
    top: 169px;
    background-image: url("../images/decor/skill-wp.png");
}

.skill-js {
    top: 430px;
    background-image: url("../images/decor/skill-js.png");
}

.skill-jquery {
    top: 505px;
    background-image: url("../images/decor/skill-jquery.png");
}

.skill-vue {
    top: 580px;
    background-image: url("../images/decor/skill-vue.png");
}

.skill-php {
    top: 850px;
    background-image: url("../images/decor/skill-php.png");
}

.skill-symfony {
    top: 925px;
    background-image: url("../images/decor/skill-symfony.png");
}

.skill-mysql {
    top: 999px;
    background-image: url("../images/decor/skill-mysql.png");
}

@media (max-width: 1300px) {
    .skill-box__skill-line {
        top: 180px;
        height: 850px;
    }

    .skill {
        left: calc(50% - 22px);
        width: 44px;
        height: 44px;
    }

    .skill-css     { top: 83px; }

    .skill-wp      { top: 145px; }

    .skill-js      { top: 340px; }

    .skill-jquery  { top: 402px; }

    .skill-vue     { top: 465px; }

    .skill-php     { top: 660px; }

    .skill-symfony { top: 725px; }

    .skill-mysql   { top: 788px; }
}

@media (max-width: 970px) {
    .skill-box__skill-line {
        left: 50px;
        top: 130px;
        height: 1330px;
    }

    .skill {
        left: calc(50% - 22px);
        width: 44px;
        height: 44px;
    }

    .skill-css     { top: 176px; }

    .skill-wp      { top: 332px; }

    .skill-js      { top: 490px; }

    .skill-jquery  { top: 645px; }

    .skill-vue     { top: 798px; }

    .skill-php     { top: 950px; }

    .skill-symfony { top: 1105px; }

    .skill-mysql   { top: 1260px; }
}

@media (max-width: 670px) {
    .skill-box__skill-line {
        left: 30px;
        top: 110px;
        height: 613px;
    }

    .skill {
        left: calc(50% - 20px);
        width: 40px;
        height: 40px;
    }

    .skill-css     { top: 78px; }

    .skill-wp      { top: 136px; }

    .skill-js      { top: 230px; }

    .skill-jquery  { top: 288px; }

    .skill-vue     { top: 345px; }

    .skill-php     { top: 438px; }

    .skill-symfony { top: 495px; }

    .skill-mysql   { top: 552px; }
}

/* PROGRESS BARS */
.promo-animate__line {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-left: auto;
    height: 34px;
}

@media (max-width: 1300px) and (min-width: 971px) {
    .promo-animate__line {
        margin-bottom: 8px;
        height: 26px;
    }
}

.first-line {
    width: 25%;
    background-color: #FFBD05;
}

.second-line {
    width: 40%;
    background-color: #FF3C35;
}

.third-line {
    width: 65%;
    background-color: #34A93F;
}

.fourth-line {
    width: 85%;
    background-color: #4182F2;
}

.fifth-line {
    width: 100%;
    background-color: #9A08CF;
}

.promo-animate__percentage {
    font-size: 14px;
    color: #fff;
}

/* PROGRESS BARS ANIMATIONS */
.first-line-animation {
    animation: first-line-bar 500ms ease;
}

.second-line-animation {
    animation: second-line-bar 800ms ease;
}

.third-line-animation {
    animation: third-line-bar 1300ms ease;
}

.fourth-line-animation {
    animation: fourth-line-bar 1800ms ease;
}

.fifth-line-animation {
    animation: fifth-line-bar 2000ms ease;
}

/* VERTICAL WORK LINE */
@media (max-width: 970px) {
    .work-box__work-line {
        content: '';
        position: absolute;
        top: 80px;
        left: 50px;
        width: 8px;
        height: calc(100% - 80px - 130px);
        background-color: #eaeaea;
        border-radius: 4px;
        z-index: 1;
    }
}

@media (max-width: 768px) {

    .work-box__work-line {
        height: calc(100% - 80px - 180px);
    }
}

@media (max-width: 670px) {
    .work-box__work-line {
        top: 90px;
        left: 30px;
        height: calc(100% - 80px - 110px);
    }
}


/* YELLOW BLACK STRIPE */
.work-box__box.last .work-box__box__body:before {
    content: '';
    position: absolute;
    top: calc(50% - 25px);
    left: -20px;
    right: -20px;
    height: 50px;
    background: url("../images/decor/warning-line.png") repeat-x;
    transform: rotate(5deg);
    z-index: 10;
}

@media (max-width: 970px) {
    .work-box__box.last .work-box__box__body:before {
        right: 8px;
    }
}

@media (max-width: 768px) {
    .work-box__box.last .work-box__box__body:before {
        height: 35px;
    }
}
