/* ОБЩЕЕ */
html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
}

header, h1, h2, h3, h4, p, a, span, form, input, textarea, pre, code {
    margin: 0;
    padding: 0;
    font-family: "Arial", "Liberation Sans", "Helvetica", sans-serif;
    text-decoration: none;
}

pre, code {
    line-height: 1.25;
    font-size: 13px;
    color: #0bbc15;
    letter-spacing: 1px;
}

@media (max-width: 1300px) and (min-width: 971px) {
    pre, code {
        line-height: 1.1;
        font-size: 12px;
    }
}

.body--gray {
    background-color: #0e0e0e;
}

.main {
    height: 100%;
}

.fixed {
    overflow-y: hidden;
}

.y-scrollable {
    overflow-y: scroll;
}


